body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	display: inline-block;
	padding-right: 1rem;
	padding-top: 1rem;
	font-size: 3rem;
	color: white;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

h3 {
	display: inline-block;
	color: grey;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.buffer {
	height: 25rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-xl {
	padding: 1rem 2rem;
}

.footer {
	padding-top: 2rem;
}


/*ipad pro portrait mode*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	
  	.footer {
		padding-top: 40rem;
	}

  }

  /*ipad*/
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	.footer {
		padding-top: 20rem;
	}

  }